<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<!-- Meta Tags -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name="description" content="CorporatePro - Business & Corporate HTML5 Responsive Template">
	<meta name="keywords" content="corporate, agency, audit, broker, business, company, consulting, corporate, creative, portfolio, financial, responsive, startup">
	<meta name="author" content="TheThemePond">
	<!-- Title -->
	<title>Engineering Support Systems</title>
	<!-- Favicon Icon -->
	<link rel="icon" type="image/png" href="img/favicon.png">

	<!-- Apple Touch Icons -->
	<link rel="apple-touch-icon" href="/static//static/img/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="57x57" href="/static/img/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/img/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/static/img/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/img/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon-180x180.png">

	<!-- Stylesheets Start -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/owl.carousel.css">
	<link rel="stylesheet" href="/static/css/animate.css">
	<!-- <link rel="stylesheet" href="/static/css/main.css"> -->
    <link rel="stylesheet" href="/static/css/main-new.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/css/meanmenu.min.css">
	<link rel="stylesheet" href="/static/css/responsive.css">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<!-- Preloader Start -->
	<!-- <div id="preloader">
		<div id="preloader-status"></div>
	</div> -->
	<!-- Preloader End -->
	<!-- Header Start -->
	<header>
		<!-- Header Top Start -->
		<div class="hd-sec">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-sm-8">
						<div class="hd-lft">
							<ul>
								<li><i class="fa fa-map"></i> ул. Пушкина, д. Колотушкина</li>
								<li><i class="fa fa-phone"></i>+7-(812)-222-22-22</li>
								<li><i class="fa fa-phone"></i>+7-(495)-222-22-22</li>
								<li><i class="fa fa-envelope"></i>office@engineerss.ru</li>
							</ul>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="hd-rgt">
							<ul>
								<li><a href=""><i class="fa fa-instagram"></i></a></li>
								<li><a href=""><i class="fa fa-google"></i></a></li>
								<li><a href=""><i class="fa fa-linkedin"></i></a></li>
								<li><a href=""><i class="fa fa-twitter"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header Top End -->
		<!-- Main Menu Start -->
		<div class="mnmenu-sec">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="logo">
							<a href="index.html"><img src="/static/img/logo-orange.png" alt=""/></a>
						</div>
					</div>
					<div class="col-md-9">
						<div class="menu">
							<nav id="main-menu" class="main-menu">
								<ul>
									<li><a href="project.html">О компании</a></li>
									<li><a href="service.html">Производители<i class="fa fa-angle-down"></i></a>
										<ul>
											<li><a href="/manufacturers/aspen-pumps">Aspen Pumps</a></li>
											<li><a href="service-details.html">Service Details</a></li>
										</ul>
									</li>
									<li><a href="about.html">Где купить?</a></li>
									<li><a href="team.html">Объекты</a></li>
									<li><a href="blog.html">Новости</a>
									</li>
									<li><a href="/contact">Контакты</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Main Menu End -->
	</header>
	<!-- Header End -->

    {% block content %}
    {% endblock %}
	<!-- Call To Action Section Start -->
	<div class="call-to-action-sec">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-12">
	                <div class="call-to-action-text">
	                    <h2>Будьте в курсе с подпиской на наш информационный бюллетень</h2>
						<form class="form">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
									<input class="form-control" type="text" name="" value="" placeholder="Как вас зовут?">
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
									<input class="form-control" type="text" name="email" value="" placeholder="Ваш адрес электронной почты">
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
									<input type="submit" class="btn" name="" value="Подписаться">
								</div>
							</div>
						</form>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- Call To Action Section Start -->
	<!-- Footer Section Start -->
	<footer>
		<!-- Footer Top Section Start -->
		<div class="footer-sec">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="footer-wedget-one">
							<h2>О компании</h2>
							<p>Engineering Support Systems является официальным дистрибьютором профессионального инженерного оборудования</p>
							<ul>
								<li><a href=""><i class="fa fa-instagram"></i></a></li>
								<li><a href=""><i class="fa fa-linkedin"></i></a></li>
								<li><a href=""><i class="fa fa-google"></i></a></li>
								<li><a href=""><i class="fa fa-twitter"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="footer-wedget-two">
							<h2>Разделы</h2>
							<ul>
								<li><a href="">О компании</a></li>
								<li><a href="">Производители</a></li>
								<li><a href="">Объекты</a></li>
								<li><a href="">Новости</a></li>
								<li><a href="">Где купить?</a></li>
								<li><a href="">Контакты</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="footer-wedget-two">
							<h2>Производители</h2>
							<ul>
								<li><a href="">AspenPumps</a></li>
								<li><a href="">BigFoot Systemss</a></li>
								<li><a href="">Climaver</a></li>
								<li><a href="">Hokkaido</a></li>
								<li><a href="">KLT ClIMA</a></li>
								<li><a href="">Aisin</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="footer-wedget-three">
							<h2>Контакты</h2>
							<p>Вы можете связаться с нами любым удобным способом. Наши профессиональные менеджеры проконсультируют вас по любым возникшим вопросам.</p>
							<ul>
								<li><i class="fa fa-location-arrow"></i>ул. Пушкина, д. Колотушкина</li>
								<li><i class="fa fa-envelope-o"></i>office@engineerss.ru</li>
								<li><i class="fa fa-phone"></i>+7 (495) 222 22 22</li>
                                <li><i class="fa fa-phone"></i>+7 (812) 222 22 22</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer Top Section End -->
		<!-- Footer Bottom Section Start -->
		<div class="footer-bottom-sec">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="copy-right">
							<p>Engineering Support Systems &copy; 2018</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer Bottom Section End -->
	</footer>
	<!-- Footer Section End -->
	<!-- Scripts Js Start -->
    <script src="/static/js/jquery-2.2.4.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/owl.carousel.min.js"></script>
	<script src="/static/js/jquery.scrollUp.min.js"></script>
	<script src="/static/js/jquery.counterup.min.js"></script>
	<script src="/static/js/modernizr.min.js"></script>
	<script src="/static/js/waypoints.min.js"></script>
	<script src="/static/js/jquery.meanmenu.min.js"></script>
	<script src="/static/js/custom.js"></script>
	<script src="/static/js/contact.js"></script>
	<!-- Scripts Js End -->
</body>
</html>
