{% extends 'base.html' %}
{% block content %}
<!-- Page Heading Section Start -->
<!-- Contact Section Start -->
<section class="contact-form-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="contact-field">
                    <h2>Напишите нам сообщение</h2>
                    <form id="contact-form">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single-input-field">
                            <h4>Ваше имя (обязательно) </h4>
                            <input id="user-name" type="text" placeholder="Как к вам обращаться?" required/>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single-input-field">
                            <h4>Ваш Email (обязательно)</h4>
                            <input id="user-email" type="email" placeholder="Как с вами связаться?" required/>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single-input-field">
                            <h4>Контактный телефон</h4>
                            <input id="user-phone" type="text" placeholder="Введите номер телефона"/>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single-input-field">
                            <h4>Тема</h4>
                            <input id="user-topic" type="text" placeholder="Предмет обращения" required/>
                        </div>
                    </div>
                    <div class="col-md-12 message-input">
                        <div class="single-input-field">
                            <h4>Сообщение</h4>
                            <textarea id="user-message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single-input-fieldsbtn">
                            <input type="submit" value="Отправить! " form="contact-form"/>
                        </div>
                    </div>
                </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-person">
                    <h1>Офис в Санкт-Петербурге</h1>
                    <div class="single-info">
                        <h2>Адрес</h2>
                        <p>красногвардейская пл., 3, 195027</p>
                    </div>
                    <div class="single-info">
                        <h2>Email: </h2>
                        <p>office@engineerss.ru</p>
                    </div>
                    <div class="single-info">
                        <h2>Телефоны:</h2>
                        <li><i class="fa fa-phone"></i>+7-(965)-053-37-77</li>
                        <li><i class="fa fa-phone"></i>+7-(962)-686-32-78</li>
                    </div>
                </div>
            </div>
        </div>
        <!-- Google Map Section Start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="map-heading">
                        <h2>Схема проезда</h2>
                    </div>
                    <div class="map-sec">
                        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A394ce28155c60cb6428154ce2afa5e85d5297bcc336ee8ce7fd98a47a2d37eda&amp;source=constructor" width="661" height="485" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        <!-- Google Map Section End -->
    </div>
</section>
<!-- Contact Section End -->
{% endblock %}
