{% extends 'base.html' %}
{% block content %}
<!-- Slider Section Start -->
<div class="slider">
    <div class="all-slide owl-item">
        <div class="single-slide" style="background-image:url(/static/img/banner-placeholder.png);">
            <div class="slider-overlay"></div>
            <div class="slider-text">
                <p>Надежно | бесшумно | просто</p>
                <h1>Уникальное легко монтируемое оборудование</h1>
                <p>Engineering Support System представляет широкий ассортимент конденсатных насосов и вспомогательного оборудования марки AspenPumps</p>
                <ul>
                    <li><a href="">Узнать больше</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Slider Section End -->
<!-- Service Start -->
<div class="service">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h1 class="sec-heading">НАИБОЛЕЕ ПОЛНЫЙ АССОРТИМЕНТ КОНДЕНСАТНЫХ НАСОСОВ И ВСПОМОГАТЕЛЬНОГО ОБОРУДОВАНИЯ ДЛЯ НАСОСОВ</h1>
                <p>
                    Компания <b>Engineering Support System</b> является официальным дистрибьютором торговой марки <b>Aspen Pumps</b>, стоящей на
                    переднем крае технологий конденсатных насосов, и предлагает
                    профессионалам всё необходимое оборудование для безупречного монтажа. В наличие есть всё необходимое: от насосов до труб.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Service End -->
<!-- Project Section Start -->
<div class="project-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sec-title">
                    <h1>Производители</h1>
                    <div class="border-shape"></div>
                    <p><p>Компания <b>Engineering Support System</b> является <b>официальным</b> дистрибьютором
                        торговых марок <b>AspenPumps</b>(Великобритания), <b>Big Foot Systems</b> (Великобритания), <b>Climaver</b> (Испания),  <b>Kloben</b> (Италия), </b>Hokkaido</b> (Италия), </b>HiRef</b> (Италия), </b>AISIN</b> (Япония) на территории Российской Федерации</p>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6  inner">
                <div class="item">
                    <img style="border: 2px solid #f2f2f2;" src="/static/img/brands/aspen.jpg" alt="" />
                    <div class="project-hoverlay">
                        <div class="project-text">
                            <a href=""><i class="fa fa-link"></i></a>
                            <h3>Book Cover</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6  inner">
                <div class="item">
                    <img src="/static/img/brands/big-foot.jpg" alt="" />
                    <div class="project-hoverlay">
                        <div class="project-text">
                            <a href=""><i class="fa fa-link"></i></a>
                            <h3>Book Cover</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6  inner">
                <div class="item">
                    <img src="/static/img/brands/climaver.jpg" alt="" />
                    <div class="project-hoverlay">
                        <div class="project-text">
                            <a href=""><i class="fa fa-link"></i></a>
                            <h3>Template Design</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6  inner">
                <div class="item">
                    <img src="/static/img/brands/hiref.jpg" alt="" />
                    <div class="project-hoverlay">
                        <div class="project-text">
                            <a href=""><i class="fa fa-link"></i></a>
                            <h3>Card Design</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6  inner">
                <div class="item">
                    <img src="/static/img/brands/aisin.jpg" alt="" />
                    <div class="project-hoverlay">
                        <div class="project-text">
                            <a href=""><i class="fa fa-link"></i></a>
                            <h3>Template Design</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6  inner">
                <div class="item">
                    <img src="/static/img/brands/kloben.jpg" alt="" />
                    <div class="project-hoverlay">
                        <div class="project-text">
                            <a href=""><i class="fa fa-link"></i></a>
                            <h3>Card Design</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Project Section Start -->
<!-- Call To Action Section Start -->
<div class="call-to-action-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="call-to-action-text">
                    <h2>Остались вопросы?</h2>
                    <p>Всегда готовы на них ответить!</p>
                    <a href="contact.html" class="btn">Связаться</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Call To Action Section Start -->
{% endblock %}
