<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<!-- Meta Tags -->	
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name="description" content="CorporatePro - Business & Corporate HTML5 Responsive Template">
	<meta name="keywords" content="corporate, agency, audit, broker, business, company, consulting, corporate, creative, portfolio, financial, responsive, startup">
	<meta name="author" content="TheThemePond">
	<!-- Title -->
	<title>CorporatePro - Business & Corporate HTML5 Responsive Template</title>		
	<!-- Favicon Icon -->
	<link rel="icon" type="image/png" href="img/favicon.png">
	
	<!-- Apple Touch Icons -->
	<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon-180x180.png">
	
	<!-- Stylesheets Start -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet"> 
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="css/meanmenu.min.css">
	<link rel="stylesheet" href="css/responsive.css">	

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<!-- Preloader Start -->
	<div id="preloader">
		<div id="preloader-status"></div>
	</div>
	<!-- Preloader End -->
	<!-- Header Start -->
	<header>
		<!-- Header Top Start -->
		<div class="hd-sec">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-sm-8">
						<div class="hd-lft">
							<ul>
								<li><i class="fa fa-comment-o"></i> 24x7 live Support</li>
								<li><i class="fa fa-phone"></i>(888) 010203-4567</li>
								<li><i class="fa fa-comment"></i>Live Chat</li>
							</ul>
						</div>	
					</div>	
					<div class="col-md-4 col-sm-4">	
						<div class="hd-rgt">
							<ul>
								<li><a href=""><i class="fa fa-facebook"></i></a></li>
								<li><a href=""><i class="fa fa-youtube"></i></a></li>
								<li><a href=""><i class="fa fa-linkedin"></i></a></li>
								<li><a href=""><i class="fa fa-twitter"></i></a></li>
							</ul>
						</div>				
					</div>					
				</div>
			</div>
		</div>
		<!-- Header Top End -->
		<!-- Main Menu Start -->
		<div class="mnmenu-sec">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="logo">
							<a href="index.html"><img src="img/logo.png" alt=""/></a>
						</div>
					</div>
					<div class="col-md-9">		
						<div class="menu">
							<nav id="main-menu" class="main-menu">
								<ul>
									<li  class="active"><a href="index.html">Home</a></li> 
									<li><a href="project.html">Project</a></li> 
									<li><a href="service.html">Service<i class="fa fa-angle-down"></i></a>
										<ul>
											<li><a href="service.html">Service</a></li>
											<li><a href="service-details.html">Service Details</a></li>
										</ul>
									</li> 						
									<li><a href="about.html">About</a></li>								
									<li><a href="team.html">Team</a></li>								
									<li><a href="blog.html">Blog<i class="fa fa-angle-down"></i></a>
										<ul>
											<li><a href="blog.html">Blog</a></li>
											<li><a href="blog-details.html">Blog Details</a></li>
										</ul>								
									</li>
									<li><a href="contact.html">Contact Us</a></li>
								</ul>
							</nav>			
						</div>						
					</div>					
				</div>
			</div>	
		</div>
		<!-- Main Menu End -->
	</header>
	<!-- Header End -->	
	
	<!-- Page Heading Section Start -->	
	<div class="pagehding-sec">
		<div class="images-overlay"></div>		
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="page-heading">
						<h1>Our Project</h1>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="">Our Project</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Heading Section End -->
	<!-- Project Section Start -->
	<div class="project-sec">
		<div class="container">		
			<div class="row">								
				<div class="col-md-3 col-sm-6  inner">
					<div class="item">
						<img src="img/p1.jpg" alt="" />
						<div class="project-hoverlay">
							<div class="project-text">
								<a href=""><i class="fa fa-link"></i></a>
								<h3>Book Cover</h3>
							</div>
						</div>
					</div>						
				</div>				
				<div class="col-md-3 col-sm-6  inner">
					<div class="item">
						<img src="img/p3.jpg" alt="" />
						<div class="project-hoverlay">
							<div class="project-text">
								<a href=""><i class="fa fa-link"></i></a>
								<h3>Template Design</h3>
							</div>
						</div>
					</div>						
				</div>				
				<div class="col-md-3 col-sm-6  inner">
					<div class="item">
						<img src="img/p2.jpg" alt="" />
						<div class="project-hoverlay">
							<div class="project-text">
								<a href=""><i class="fa fa-link"></i></a>
								<h3>App Design</h3>
							</div>
						</div>
					</div>						
				</div>				
				<div class="col-md-3 col-sm-6  inner">
					<div class="item">
						<img src="img/p4.jpg" alt="" />
						<div class="project-hoverlay">
							<div class="project-text">
								<a href=""><i class="fa fa-link"></i></a>
								<h3>Card Design</h3>
							</div>
						</div>
					</div>						
				</div>					
			
				<div class="col-md-3 col-sm-6  inner">
					<div class="item">
						<img src="img/p3.jpg" alt="" />
						<div class="project-hoverlay">
							<div class="project-text">
								<a href=""><i class="fa fa-link"></i></a>
								<h3>Template Design</h3>
							</div>
						</div>
					</div>						
				</div>	
				<div class="col-md-3 col-sm-6  inner">
					<div class="item">
						<img src="img/p4.jpg" alt="" />
						<div class="project-hoverlay">
							<div class="project-text">
								<a href=""><i class="fa fa-link"></i></a>
								<h3>Card Design</h3>
							</div>
						</div>
					</div>						
				</div>				
				<div class="col-md-3 col-sm-6  inner">
					<div class="item">
						<img src="img/p1.jpg" alt="" />
						<div class="project-hoverlay">
							<div class="project-text">
								<a href=""><i class="fa fa-link"></i></a>
								<h3>Book Cover</h3>
							</div>
						</div>
					</div>						
				</div>					
				<div class="col-md-3 col-sm-6  inner">
					<div class="item">
						<img src="img/p2.jpg" alt="" />
						<div class="project-hoverlay">
							<div class="project-text">
								<a href=""><i class="fa fa-link"></i></a>
								<h3>App Design</h3>
							</div>
						</div>
					</div>						
				</div>				
										
			</div>
		</div>		
	</div>
	<!-- Project Section Start -->	
	
	<!-- Call To Action Section Start -->	
	<div class="call-to-action-sec">
		<div class="call-to-action-overlay"></div>
		<div class="container">
			<div class="row">	
				<div class="col-md-12">
					<div class="call-to-action-text">
						<h2>If Need Any Help! Contact Us</h2>
						<p>Lorem ipsum dolor sit amet, pellentesque enim lorem quis vivamus amet. </p>
						<a href="contact.html" class="btn">Contact Us</a>
					</div>												
				</div>												
			</div>					
		</div>
	</div>
	<!-- Call To Action Section Start -->	
	<!-- Footer Section Start -->
	<footer>	
		<!-- Footer Top Section Start -->
		<div class="footer-sec">
			<div class="container">
				<div class="row">				
					<div class="col-md-3 col-sm-6">
						<div class="footer-wedget-one">
							<h2>About Us</h2>							
							<p>Lorem ipsum dolor sit amet, vel molestie nec imperdiet auctor sociosqu tellus. Nulla sed vestibulum in nulla etiam euismod, ac lectus ut.</p>							
							<p>Lorem ipsum dolor sit amet, vel molestie nec imperdiet auctor sociosqu tellus.</p>
							<ul>
								<li><a href=""><i class="fa fa-facebook"></i></a></li>
								<li><a href=""><i class="fa fa-twitter"></i></a></li>
								<li><a href=""><i class="fa fa-google"></i></a></li>
								<li><a href=""><i class="fa fa-skype"></i></a></li>
							</ul>
						</div>
					</div>				
					<div class="col-md-3 col-sm-6">
						<div class="footer-wedget-two">
							<h2>Information</h2>
							<ul>
								<li><a href="">Home</a></li>
								<li><a href="">Contact us</a></li>
								<li><a href="">About Us</a></li>
								<li><a href="">Service</a></li>
								<li><a href="">Team</a></li>
								<li><a href="">Blog</a></li>	
								<li><a href="">Service Details</a></li>								
							</ul>
						</div>
					</div>				
					<div class="col-md-3 col-sm-6">
						<div class="footer-wedget-two">
							<h2>quick links</h2>
							<ul>
								<li><a href="">Home</a></li>
								<li><a href="">Contact us</a></li>
								<li><a href="">About Us</a></li>
								<li><a href="">Service</a></li>
								<li><a href="">Team</a></li>
								<li><a href="">Blog</a></li>	
								<li><a href="">Service Details</a></li>								
							</ul>
						</div>
					</div>					
					<div class="col-md-3 col-sm-6">
						<div class="footer-wedget-three">
							<h2>Contact us</h2>
							<p>Lorem ipsum dolor sit amet, vel molestie nec imperdiet auctor sociosqu tellus.vel molestie nec imperdiet auctor sociosqu tellus.</p>
							<ul>
								<li><i class="fa fa-location-arrow"></i>4618 Hickory Las Vegas</li>
								<li><i class="fa fa-envelope-o"></i>Info@yourdomain.com</li>
								<li><i class="fa fa-phone"></i>+88 01020304-05-76</li>
							</ul>
						</div>
					</div>				
				</div>
			</div>
		</div>
		<!-- Footer Top Section End -->
		<!-- Footer Bottom Section Start -->
		<div class="footer-bottom-sec">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="copy-right">
							<p>&copy; 2017 All Right Reserved.</p>
						</div>
					</div>					
				</div>
			</div>
		</div>
		<!-- Footer Bottom Section End -->
	</footer>
	<!-- Footer Section End -->
	<!-- Scripts Js Start -->
    <script src="js/jquery-2.2.4.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/jquery.counterup.min.js"></script>
	<script src="js/modernizr.min.js"></script>
	<script src="js/waypoints.min.js"></script>
	<script src="js/jquery.meanmenu.min.js"></script>
	<script src="js/custom.js"></script>
	<!-- Scripts Js End -->	
</body>
</html>