/*Input Your Custom CSS Here*/
.logo {
    padding: 10px 0;
}

.logo img {
    max-height: 10vh;
}

.slider-text {
    text-align: left;
    padding: 230px;
}

.slider-text h1 {
    font-weight: bolder;
    font-size: 6vh;
    max-width: 70%;
}

.slider-text p {
    font-size: 3vh;
    padding-left: 0;
    padding-top: 20px;
    max-width: 50vw;
    font-weight: bold;
}

.slider-text li a {
    border-radius: 0;
    margin: 0;
}

.project-sec {
    background-color: #ffff;
}

.sec-heading {
    color: #e8500e;
}

input {
    border-radius: 0 !important;
}

.call-to-action-sec {
    text-align: center;
}

.call-to-action-sec input.btn {
    border-radius: 0;
    border: 1px solid #ffff;
    background-color: inherit;
    width: 100%;
}

.call-to-action-sec input.btn:hover {
    background-color: #ffff;
    color: #e8500e;
    border: 1px solid #e8500e;
}

.call-to-action-sec .form-control,
.call-to-action-sec input.btn {
    height: 6vh;
    font-size: 3vh;
}

/*
.call-to-action-sec input[type='text'] {
    width: 25vw;
    text-align: center;
}

.call-to-action-sec input {
    height: 6vh;
    font-weight: bold;
    font-size: 2vh;
}

.call-to-action-sec input[name='email'] {
    margin-left: 2vw;
    margin-right: 2vw;
} */

.links-section {
    background-color: #494b52;
    padding-top: 6vh;
    padding-bottom: 6vh;
}

.links-section h2 {
    color: #ffff;
    text-transform: uppercase;
    margin-bottom: 0;
}

.links-section p {
    margin-top: 2vh;
    color: #ffff;
    text-align: left;
    margin-bottom: 0;
}

.links-section .fa {
    color: #e8500e;
    font-size: 7vh;
}

.links-section .item-icon {
    margin-right: 0;
    padding-right: 0 !important;
}

.links-section .item-description {
    margin-left: 0;
    padding-left: 0 !important;
}

.links-section a.btn {
    margin-top: 2vh;
    width: 100%;
    color: #ffff;
    border: 1px solid #e8500e;
    border-radius: 0;
    font-size: 2.5vh;
    margin-top: 4vh;
}

.links-section a.btn:hover {
    background-color: #e8500e;
}

.rounded-panel {
    border: 0.7px solid #494b52 !important;
    border-top-left-radius: 0;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
    padding: 10% !important;
    height: 45vh;
    margin-bottom: 3vh;
    padding-top: 2vh;
}

#panel-1 {
    background-color: #494b52;
}

#panel-1 p {
    color: #ffff;
}

#panel-1 h2 {
    color: #e8500e;
}

#panel-2 {
    background-color: #e8500e;
}

#panel-2 p {
    color: #ffff;
}

#panel-2 h2 {
    color: #ffff;
}

.footer-panel {
    background-color: #ffff;
    margin-top: 50%;
    bottom: 0;
    padding: 0;
}

#panel-1 .footer-panel a.btn{
    background-color: #e8500e;
    color: #ffff;
    width: 100%;
    border-radius:  0;
    font-weight: bold;
    border: 1px solid #e8500e;
}

#panel-1 .footer-panel a.btn:hover {
    background-color: #494b52;
    color: #ffff;
}

#panel-2 .footer-panel a.btn{
    background-color: #e8500e;
    color: #ffff;
    width: 100%;
    border-radius:  0;
    font-weight: bold;
    border: 1px solid #494b52;
}

#panel-2 .footer-panel a.btn:hover {
    background-color: #ffff;
    color: #494b52;
}

/* .hd-sec {
    background-color: #ffff;
    color: #494b52 !important;
} */

/* Products */
.product-heading {
    padding-top: 6vh;
    min-height: 30vh;
    background-color: #032d59;
}
.product-heading h1 {
    font-weight: bolder;
    font-size: 5vh;
    color: #ffff;
}

.product-heading p {
    color: #ffff;
}

.product-heading .product-features-col {
    padding-top: 2vh;
}

.product-heading .fa, p.killer_feature {
    font-weight: bolder;
    font-size: 2vh;
    padding-right: 1vw;
}

.product-download {
    background-color: #eee;
    padding-top: 6vh;
    padding-bottom: 6vh;
}

.product-download h2 {
    font-weight: bolder;
}
.product-download a.btn {
    border: 1px solid #494b52;
    border-radius: 0;
    width: 100%;
    word-wrap: break-word;
    height: auto;
    white-space: normal;
}

.product-download a.btn:hover {
    color: #ffff;
    border: 0;
    background-color: #032d59;
}

.product-description {
    padding-bottom: 6vh;
    padding-top: 6vh;
}

.product-description h2 {
    margin-top: 2vh;
    font-weight: bolder;
    margin-bottom: 2vh;
}

@media (max-width: 700px) {
  a.btn, input{
      margin-bottom: 2vh;
  }
}
/* Products End */
